<!DOCTYPE html>
<html>
<head>
	<title>触手可洗 - FAQ</title>
	<style type="text/css">
		body {
			color: white;
			background-color: rgba(0, 155, 245, 0.87);
			width: 90%;
			max-width: 750px;
			margin: 10px auto;
			font-family: "Microsoft JhengHei","Microsoft YaHei";
		}
		p.QA {
			margin-left: 20px;
		}
		span.IMP {
			color: rgba(0, 155, 245, 0.87);
			background-color: white;
		}
		div {
			border: 1px white solid;
			padding: 5px;
			margin: 5px;
		}
	</style>
</head>
<body>
	<h1 align="center">FAQ</h1>
<!-- 	<div><b>Q：</b><p class="QA">触手可洗是谁？</p>
	<b>A：</b><p class="QA">您好，触手可洗由数位上海交通大学校友创立，公司注册于交大科技园区。团队致力于提供服装相关的生活服务，在提高效率和降低价格的同时，为用户提供更加安全、便捷、舒适、高效的服务。</p></div> -->

	<div><b>Q：</b><p class="QA">触手可洗是做什么的？</p>
	<b>A：</b><p class="QA">您好，触手可洗是致力于线上订单与线下衣物清洗护理的O2O服务平台，通过与国内知名洗衣连锁店合作提供绿色清洁的洗衣服务,采用标准化流程并全程监控。并由专门的衣物配送人员上门取衣和送衣，途中封闭完好。为您提供安全、便捷、高效的极致服务体验。</p></div>

	<div><b>Q：</b><p class="QA">请问如何下单？</p>
	<b>A：</b><p class="QA">您好，您可以在官网getwash.cn下单，同时我们也提供微信公众号下单服务，请关注微信触手可洗公众账号“触手可洗”，然后一键下单即可。现阶段只支持当面现金付款，在线付款正努力开发中。</p></div>

	<div><b>Q：</b><p class="QA">请问我的衣物在哪里进行洗衣处理？</p>
	<b>A：</b><p class="QA">您好，触手可洗与UCC国际洗衣，洁丰干洗，好搭档洗衣等国内知名洗衣连锁店面签订合约，您的衣物将送至触手可洗加盟店面进行处理，由最专业的团队对触手可洗的干洗全程进行监控，并提供技术支持。</p></div>

	<div><b>Q：</b><p class="QA">哪些衣物可以清洗？鞋子、玩具可以清洗吗？</p>
	<b>A：</b><p class="QA">您好，触手可洗官网中陈列出的衣物类型均可以进行清洗。我们也正在努力扩大可清洗衣服的种类范围。</p></div>

	<div><b>Q：</b><p class="QA">下单之后多久能够送回？</p>
	<b>A：</b><p class="QA">您好，一般衣物大都会在3天之内完成，并在完成后会及时通知以确定衣物送回时间，特殊衣物如有延迟，会提前与您进行电话沟通。</p></div>

	<div><b>Q：</b><p class="QA">衣服洗涤后是怎么送回的？</p>
	<b>A：</b><p class="QA">您好，衣服在清洗完成后会用专用的包装包好，我们会根据您约定的时间范围提前与您沟通确定好时间，配送人员会将衣服送到您的住所。</p></div>

	<div><b>Q：</b><p class="QA">如何安排取衣和送衣时间？</p>
	<b>A：</b><p class="QA">您好，在支付页面会有关于取衣时间选择项，同时该页面还有地址和联系方式等信息。在完成衣物清洗后，我们会及时与您取得联系确定送衣时间。</p></div>

	<div><b>Q：</b><p class="QA">对于所要清洗的衣物分类不确定怎么办？</p>
	<b>A：</b><p class="QA">您好，请不用担心，我们的配送员在每次取衣物前都会核对订单上选择的类别是否正确，如有分类失误配送员会当场为您更改订单信息。</p></div>

	<div><b>Q：</b><p class="QA">如果我有特殊需求怎么办？</p>
	<b>A：</b><p class="QA">您好，在下单付款页面有留言板，您可以将您的特殊需求写在留言板上，我们会根据您的需求进行相应的处理。</p></div>

	<div><b>Q：</b><p class="QA">请问有较难处理的污渍怎么办？</p>
	<b>A：</b><p class="QA">您好，我们对于顽固污渍会采取特殊处理并可能产生相应的额外费用，如果处理不掉我们会将这部分费用返还给您。</p></div>

	<div><b>Q：</b><p class="QA">如果取送衣物时间我不在寝室请问怎么办？</p>
	<b>A：</b><p class="QA">您好，请事先留下关于您的订单的任何特殊说明。您可能需要与宿管阿姨沟通确定是否可以将衣物存放管理处，并告知我们该信息。</p></div>

	<div><b>Q：</b><p class="QA">请问是否有额外配送费？</p>
	<b>A：</b><p class="QA">您好，请选择正确的校区与宿舍信息，衣物配送是不会产生额外费用的。</p></div>

	<div><b>Q：</b><p class="QA">请问什么是干洗？如何判断我的衣物是否需要干洗？</p>
	<b>A：</b><p class="QA">您好，干洗就是用有机化学溶剂对衣物进行洗涤、去除油污或污渍的一种干进干出的洗涤方式。由于在衣物洗涤过程中水不直接接触衣物，所以称之为干洗。干洗的主要特点就是避免水洗对衣物面料造成伤害，不缩水、不变形、色泽保护性好，不易造成衣物褪色、手感柔软，便于熨烫并能彻底清洗衣物上的油污或污渍。适于那些不宜水洗和易褪色的织物。有极好的防止织物纤维变形和使纤维保持原有色泽的优点，同时还能延长衣服的穿着寿命。洗后衣物还有消毒、灭菌的特殊功效不易虫蛀便于保存。由精致的面料(羊毛、羊绒等)构成的衣物或普通水洗易变形的衣物（正装、衬衫等）均应采用干洗。</p></div>

	<div><b>Q：</b><p class="QA">我的衣服是水洗还是干洗？</p>
	<b>A：</b><p class="QA">您好，选择洗涤方式是根据衣服的面料来选择的，不同的污渍和面料会使用不同的洗涤剂。干洗一般洗涤真丝和羊毛居多，干洗的优点是不缩水和变形，去污能力强。水洗一般含棉，麻和涤纶面料的居多，这类面料贴身衣物居多。我们的工作分拣人员都有3年以上的工作经验，确保会采用质量最优的洗涤方式。</p></div>

	<div><b>Q：</b><p class="QA">请问我如何获得帮助？</p>
	<b>A：</b><p class="QA">您好，任何疑惑、评价或对我们有想说的话都可以通过getwash.cn网站反馈给我们，也可发送邮件至getwash@163.com或直接与我们电话取得联系：021-54743432。您的支持与建议是我们进步的最大动力。</p></div>

	<p><span class="IMP">联系我们：</span></p>
	&nbsp;&nbsp;&nbsp;&nbsp;021-54743432<br>
	&nbsp;&nbsp;&nbsp;&nbsp;getwash@163.com<br>

	<p>请扫描<span class="IMP">二维码</span>关注我们的微信公众平台：</p>

	<img src="{{ url_for('static', filename='img/FAQ.png') }}">

	<p><span class="IMP">触手可洗订阅号：</span></p>
	&nbsp;&nbsp;&nbsp;&nbsp;定时分享洗衣护衣的小常识，传递网站最新动态，不定时分发优惠券回馈新老客户。
</body>
</html>
